body {
    background-color: powderblue;
    border-style: none;
}

hr {

    /* display: inline-block; */
    color: grey;
    /* background-color: red; */
    /* width: 30px; */
    border-style: dotted none none;
    width: 2.75%;
    border-width: 5px; 
    /* height: 50%; */
    /* height: 0px;
    width: 10%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis; */
    /* border-style: inset; */

}

/* ul{
    /* list-style-type: "\1F44D"; */
    /* list-style-position: inside;  */
    /* text-align: center;
    display: table;
  margin: 0 auto; */ 
  /* display: table; 
    margin: 0 auto;
    text-align: left; */


/* } */
ul.hobbies,ul.books{
      display: table;
      text-align: left;
}

img {
   
    border-radius: 50%;
}
div.MyDivEle{
    text-align: center;
}
